@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700&display=swap');

*{
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

body {
  text-align: center;
  background: linear-gradient(270deg, #56c0a4, #53b1e1);
  background-size: 400% 400%;

  -webkit-animation: background 16s ease infinite;
  -moz-animation: background 16s ease infinite;
  animation: background 16s ease infinite;
}

@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.header {
  font-size: 40px;
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 3%;
}

.logo {
  width: 60px;
  height: 65px;
  position: relative;
  top: 20px;
  right: 5px;
}

.text-input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-left: 50px;
  height: 40px;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
}

.text-input > input {
  width: calc(100% - 50px);
  height: 60%;
  font-size: 12px;
  color: white;
  border-radius: 15px;
  padding-left: 10px;
  background: black;
  border: 1px solid white;
  outline: none;
}

.text-input > button {
  border-radius: 15px;
  width: 25px;
  height: 50%;
  margin-left: -27px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  background: white;
  color: black;
  outline: none;
}

.text-input > button:hover {
  background: #53b1e1;
  color: white;
  border: 1px solid black;
}

.text-input > button[disabled] {
  background: black;
  color: white;
}

.messages {
  overflow: auto;
  height: calc(100% - 138px);
}

.bubble-wrap{
  width:100%;
  padding:8px 20px;
  display:flex;
  position: relative;
}

.bubble-wrap[from="me"] {
  flex-direction:row-reverse;
}

.bubble{
  border-radius:11px;
  padding: 8px 12px;
  font-size: 14px;
  position:relative;
  border: 1px solid #606060;
  margin-left:5px;
}

.bubble:before{
  content:"";
  width:12px;
  height:12px;
  transform:rotate(45deg);
  background:black;
  border: 1px solid #606060;
  position:absolute;
  left:-6px;
  top:10px
}

.bubble-wrap[from="me"] .bubble:before{
  left:auto;
  right:-6px;
}

.bubble:after{
  content:"";
  background:black;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  border-radius:10px;
}

.bubble > span {
  color:white;
  position:relative;
  /* makes text pop*/
  z-index: 101;
}

.bubble-name{
  position: absolute;
  color: white;
  top: -5px;
  font-size:10px;
  left: 30px;
}